*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body{
    background: rgb(66, 69, 88);
    background-size: cover;

}

div.image{
    position:absolute;
    top:-50px;
    left:calc(50% - 50px);
    border-radius:50%;
    }

body {
    background-image: url("Photos/Background.jpg");
    background-color: #cccccc;
   }